* {
  scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeUpAnimation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#nav {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 12;
  display: flex;
  flex-direction: row;
  gap: 0.666rem;
  align-items: center;
}
#nav img {
  height: 28px;
}
#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
#logo {
  z-index: 10;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: var(--theme);
  width: 600px;
  max-width: 75vw;
}
#cta {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 45em;
  margin: 0 auto;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  align-items: center;

  animation: fadeUpAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#cta a {
  width: 15em;
}

.button,
button {
  display: inline-block;
  background: var(--theme-inverse);
  padding: 0.333em 0.666em;
  color: var(--theme);
  border-bottom: 2px solid var(--theme);
}


.line {
  margin: 0 5%;
  border-top: 1px solid var(--theme-inverse-opaque);
  padding: 3rem 5%;
  position: relative;
  transition: 0.333s ease-in opacity;
}
.line--toggle {
  background: transparent;
  border: 0;
  position: absolute;
  right: 1.5rem;
  font-size: 3rem;
  top: 1.5rem;
  color: inherit;
  transform: rotate(0deg);
  transition: 0.2s ease-in all;
  z-index: 2;
}
.line.fade {
  opacity: 0.4;
}
.line.open {
  opacity: 1;
}
.line--headersmall {
  position: absolute;
  top: 0.25em;
  right: 1em;
  cursor: default;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.line--header {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  /*font-variant: small-caps;*/
  text-transform: uppercase;
  background: var(--theme);
  box-shadow: 0 0 30px var(--theme);
  z-index: 1;
  position: relative;
  transition: 0.333s ease-in all;
}
.line--contents {
  max-height: 0;
  opacity: 0;
  transform: scale(0.9) translateY(-10vh);
  transition: 0.333s ease-in all;
}
.line.open .line--header {
  font-size: 2rem;
  transform: translateY(-1em);
}
.line.open .line--contents {
  max-height: unset;
  opacity: 1;
  transform: scale(1) translateY(0);
}
.line.open .line--toggle {
  max-height: 1000px;
  transform: rotate(135deg);
  top: -1rem;
}
.line.open .line--header,
.line.open .line--contents,
.line.open .line--toggle {
  transition: 0.333s ease-out all;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 13px;
  }
  .line {
    margin: 0 2.5%;
    padding: 3rem 2.5%;
  }
  .line--toggle {
    right: -2.5%;
  }
}

.line--contents {}

#map {
  display: flex;
  align-items: center;
  justify-content: center;
}
#map img {
  max-width: 80%;
}
#map {}

#map2 {
  display: flex;
  flex-direction: row;
  padding: 0 5% 3rem;
  gap: 3rem;
  align-items: center;
}
#map2 img{
  max-height: 40vh;
  max-width: 40vw;
}

/**
 * #sponsors
 **/
#sponsors {}

.top-sponsors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.top-sponsors img {
  max-width:100%;
  max-height: 120px;
}

@media screen and (min-width: 801px) {
  .top-sponsors {
    flex-direction: row;
  }

  .top-sponsors a {
    max-width: calc(50% - 3rem);
    max-height: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .top-sponsors a {
    max-width: calc(25% - 3rem);
  }
}


#more-sponsors {}
#more-sponsors .line--contents {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#more-sponsors .line--contents header {
  font-size: 1.5rem;
}

#more-sponsors ul {
  margin-left: 1.5rem;
  list-style: none;
}
#more-sponsors li {
  margin: 0;
  
}

.maybe-row {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .maybe-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/**
 * #tickets
 **/
#tickets {}

.line--contents {}
.datetime {
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 1;
  width: 80em;
}
.date {
  font-size: 3rem;
}
.time {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.info {
  line-height: 1.1666;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info p:first-child::first-letter {
  float: left;
  line-height: 35px;
  font-size: 55px;
  padding-top: 2px;
  padding-left: 5px;
  margin-right: 2px;
  margin-left: -10px;
}

.prices {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.prices header {
  font-size: 1.5rem;
}
.prices strong {
  display: block;
}
.prices em {
  display: block;
}
.prices ul {
  list-style: none;
}
.prices li {
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 800px) {
  #tickets .row {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  #tickets .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #tickets .line--contents {
    flex-direction: column;
    gap: 1rem;
  }
  .datetime {
    width: unset;
  }
}


/**
  * #faq
  **/
#faq {}
#faq ul {
  list-style: none;
}
#faq li {
  margin-bottom: 2rem;
}
#faq ul strong {
  font-size
}
#faq ul p {
  line-height: 1.1666;
}


/**
  * .footer
  **/
.footer {
  margin: 1.5rem 5%;
  font-size: 0.875rem;
  text-align: right;
}



@import "https://unpkg.com/open-props/easings.min.css";
.theme-toggle {
  position: fixed; right: 1.5rem; bottom: 1.5rem;
}
.theme-toggle {
  -size: 2rem;
  --icon-fill: hsl(50.6 100% 50%); /*hsl(210 10% 30%);*/
  --icon-fill-hover: hsl(45 100% 50%); /*hsl(210 10% 15%);*/
  background: none;
  border: none;
  padding: 0;
  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
}
.dark .theme-toggle {
  --icon-fill: hsl(210 10% 70%);
  --icon-fill-hover: hsl(210 15% 90%);
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

.dark .sun-and-moon > .sun {
  transform: scale(1.75);
}

.dark .sun-and-moon > .sun-beams {
  opacity: 0;
}

.dark .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  .dark .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }

  .dark .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  .dark .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  .dark .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
}



a.wave-link {
  position: relative;
  padding: 0.25rem 0rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;


  cursor: pointer;
  position: relative;
  white-space: nowrap;
  background: transparent;
  border: 0;
  overflow: hidden;
  display: inline-block;
}
a.wave-link:before {
  content: '';
  background: transparent;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 100%;
  pointer-events: none;
  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  
  z-index: -1;
  transition: clip-path 1000ms ease-out;
}
.link__graphic {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: #FFF;
    stroke-width: 1px;
}
.link__graphic--slide {
    top: -3px;
    stroke-width: 2px;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
a.wave-link:hover .link__graphic--slide {
  transform: translate3d(-66.6%, 0, 0);
}
