{{ define "main" }}
  <a href="https://www.eventbrite.com/e/davidson-home-village-tour-tickets-565451429447" class="button" id="tickets">Purchase Tickets →</a> 
  {{ $logo := (resources.GetMatch "images/dht-logo.png") }}
  <div id="logo-container">
    <img id="logo" src="{{ $logo.RelPermalink }}" alt="Davidson Home Tour" />
  </div>
  <section id="cta" >
    <p>
      Explore the heart of Davidson on a self-guided tour in support of
      <a href="https://www.dc-childdevelopmentcenter.org/">Davidson-Cornelius Child Development Center</a>.
    </p>
    <a href="#map" class="button">Learn more ↓</a> 
  </section>
  <section id="map">
    {{ $image := (resources.GetMatch "images/map.png") }}
    <img src="{{ $image.RelPermalink }}" />
  </section>
  <section id="sponsors" class="line">
    <header class="line--headersmall">Generously supported by</header>
  </section>
  <section id="tickets" class="line open">
    <h2 class="line--header">Event</h2>
    <button class="line--toggle" aria-label="Toggle Event contents">+</button>

    <div class="line--contents">
    <div class="row">
      <div class="datetime">
        <span class="date">April 29, 2023</span>
        <span class="time">10am - 4pm</span>
      </div>
      <div class="info">
        <p>The Davidson Home & Village Tour is an opportunity to explore the heart of Davidson through hand-picked homes and village sites.</p>
        <p>Come experience a range of diverse architectural styles, inspiring interior design, historical significance, art displays, and more! Each space will be staffed by a docent and stories as if the walls could talk.</p>

        <div class="prices">
          <header>Ticket Prices</header>
          <ul>
            <li>
              <strong>General Adult Admission</strong>
              <em>Special pre-purchase price: $40</em>
              <em>Standard price: $50</em>
            </li>
            <li>
              <strong>General Kids Admission (ages 2-12)</strong>
              <em>Special pre-purchase price: $15</em>
              <em>Standard price: $25</em>
            </li>
          </ul>
          <div>
            <a href="https://www.eventbrite.com/e/davidson-home-village-tour-tickets-565451429447" class="button">Purchase Tickets →</a> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsorship" class="line">
    <h2 class="line--header">Sponsorship</h2>
    <button class="line--toggle" aria-label="Toggle Sponsorship Opportunities">+</button>

    <div class="line--contents">
      <p>Sponsorship opportunities are available to support the Davidson Home & Village Tour and the Davidson-Cornelius Child Development Center.</p>
      <a href="/sponsorship" class="button">Learn more →</a>
    </div>
  </section>

  <section id="faq" class="line">
    <header class="line--header">FAQ</header>
    <button class="line--toggle" aria-label="Toggle FAQs content">+</button>
    <div class="line--contents">
      <ul>
        <li>
          <strong>Where do I park?</strong>
          <p>Free parking is available throughout the town in designated spaces. The walking tour begins at the Davidson green in front of the Library.</p>
        </li>
        <li>
          <strong>Where do I check-in?</strong>
          <p>Your first stop is at the Davidson Town Green (119 South Main Street Davidson) where you will check in at the DCCDC tent. There you will receive your tickets required for entry at each home. You will also receive a map and booklet about each of the homes.</p>
        </li>
        <li>
          <strong>What is included in the ticket?</strong>
          <p>Self-guided walking tour of the homes which includes designated access inside the home as determined by the homeowner.</p>
        </li>
        <li>
          <strong>Are pets allowed on the tour?</strong>
          <p>While we love pets, they are not permitted on the tour.</p>
        </li>
        <li>
          <strong>Can I drive the tour route?</strong>
          <p>No, there is not parking spaces available at homes. All houses and sites are selected to be within walking distance from the check in location.</p>
        </li>
        <li>
          <strong>What is the tour like for children?</strong>
          <p>No strollers will be allowed in the homes, but strollers can be used to walk between homes. Children should be supervised at all times.</p>
        </li>
      </ul>
    </div>
  </section>

  <main aria-role="main">
    <div class="homepage-content">
      {{.Content}}
    </div>
  </main>
<script>

(function lines() {
  const lines = Array.from(document.querySelectorAll('.line'));
  function on(type, selector, fn) {
    // events that should default to the capture phase
    const capture = type === 'mouseenter' || type === 'mouseleave';
    window.addEventListener(type, e => {
      if (e.target.matches(selector)) {
        return fn(e);
      }
    }, capture);
  }

  on('pointerup', '.line *', toggleSection);
  function toggleSection(e) {
    const targetLine = e.target.closest('.line');
    // only toggle if the second tap is on the line header
    if (targetLine.classList.contains('open')) {
      if (
        e.target.matches('.line--header') ||
        e.target.matches('.line--toggle')
      ) {
        targetLine.classList.toggle('open');
      }
    } else {
      targetLine.classList.toggle('open');
    }

    Array
      .from(document.querySelectorAll('.line.open'))
      .forEach(el => {
        if(el !== targetLine) {
          el.classList.remove('open')
        }
      });
  }

  on('pointerenter', '.line', e => {
    lines.forEach(line => {
      if (line !== e.target) {
        line.classList.add('fade');
      }
    });
  });
  on('pointerleave', '.line', e => {
    lines.forEach(line => {
      line.classList.remove('fade');
    });
  });
})();
</script>
{{ end }}
