{{ define "main" }}
  <nav id="nav">
    <a href="https://www.facebook.com/davidsonhometour">
      <img src="{{ (resources.GetMatch "images/logos/facebook.png").RelPermalink }}" />
    </a>
    <a href="https://www.instagram.com/davidsonhometour">
      <img src="{{ (resources.GetMatch "images/logos/instagram.png").RelPermalink }}" />
    </a>
    <a href="https://www.eventbrite.com/e/davidson-home-village-tour-tickets-565451429447" class="button" id="tickets">Purchase Tickets →</a> 
  </nav>
  {{ $logo := (resources.GetMatch "images/dht-logo.png") }}
  <div id="logo-container">
    <img id="logo" src="{{ $logo.RelPermalink }}" alt="Davidson Home Tour" />
  </div>
  <section id="cta" >
    <p>
      Explore the heart of Davidson on a self-guided tour in support of
      <a href="https://www.dc-childdevelopmentcenter.org/">Davidson-Cornelius Child Development Center</a>.
    </p>
    <a href="#map" class="button">Learn more ↓</a> 
  </section>
  <section id="map2">
    {{ $image := (resources.GetMatch "images/map4.png") }}
    <img src="{{ $image.RelPermalink }}" />
    <p>All of our fabulous homes are within walking distance of the Town Green: Three on Lorimer, two on N. Main, one on Greenway, and two near McEver Field. Happy walking!</p>
  </section>
  <section id="sponsors" class="line open">
    <header class="line--headersmall">Generously supported by</header>
    <div class="top-sponsors">
      <a href="https://www.danielleknoxinteriors.com">
        {{ $image := (resources.GetMatch "images/logos/dki.png") }}
        <img src="{{ $image.RelPermalink }}" alt="Danielle Knox Interiors">
      </a>
      <a href="https://thecoveatdavidsonbay.com/">
        {{ $image := (resources.GetMatch "images/logos/thecove.jpg") }}
        <img src="{{ $image.RelPermalink }}" alt="The Cove at Davidson Bay">
      </a>
      <a href="https://jewelboxonline.com">
        {{ $image := (resources.GetMatch "images/logos/jewelbox.png") }}
        <img src="{{ $image.RelPermalink }}" alt="Jewelbox">
      </a>
      <a href="http://www.dellingerlawfirm.com/">
        {{ $image := (resources.GetMatch "images/logos/dellingerlaw.png") }}
        <img src="{{ $image.RelPermalink }}" alt="Dellinger Law PLLC">
      </a>
    </div>
  </section>
  <section id="tickets" class="line">
    <h2 class="line--header">Event</h2>
    <button class="line--toggle" aria-label="Toggle Event contents">+</button>
    <div class="line--contents">
      <div class="row">
        <div class="datetime">
          <span class="date">April 29, 2023</span>
          <span class="time">10am - 4pm</span>
          <div class="prices">
            <header>Ticket Prices</header>
            <ul>
              <li>
                <strong>General Adult Admission</strong>
                <em>Advanced Purchase: $40</em>
                <em>Day of Ticket: $50</em>
              </li>
              <li>
                <strong>General Kids Admission (ages 2-12)</strong>
                <em>Advanced Purchase: $15</em>
                <em>Day of Ticket: $25</em>
              </li>
            </ul>
            <div>
              <a href="https://www.eventbrite.com/e/davidson-home-village-tour-tickets-565451429447" class="button">Purchase Tickets →</a> 
            </div>
          </div>
        </div>
        <div class="info">
          <p>The Davidson Home & Village Tour is a fundraiser for the Davidson Cornelius Child Development Center (DCCDC). The Tour is an opportunity to explore the heart of Davidson through hand-picked homes and beloved village sites. Step inside curated homes to experience a range of diverse architectural styles, inspiring interior design, historical significance, local art displays, and more! Each space will be staffed by a local docent. Come enjoy a self-guided tour and get the inside scoop!</p>

  
          <p>DCCDC provides high-quality early childhood education with scholarship support for children 6 weeks-Pre-K. Nearly 50% of our mini-scholars receive sliding-scale financial assistance ranging from 35-75% of tuition. Proceeds from the Davidson Home & Village Tour fuel tuition scholarships, teacher and staff support, operational costs, and improvements to DCCDC.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsorship" class="line">
    <h2 class="line--header">Sponsorship</h2>
    <button class="line--toggle" aria-label="Toggle Sponsorship Opportunities">+</button>

    <div class="line--contents">
      <p>Sponsorship opportunities are available to support the Davidson Home & Village Tour and the Davidson-Cornelius Child Development Center.</p>
      <a href="/sponsorship" class="button">Learn more →</a>
      <a href="mailto:kate.barr@gmail.com" class="button">Contact for sponsorship →</a>
    </div>
  </section>

  <section id="faq" class="line">
    <header class="line--header">FAQ</header>
    <button class="line--toggle" aria-label="Toggle FAQs content">+</button>
    <div class="line--contents">
      <ul>
        <li>
          <strong>Where do I park?</strong>
          <p>Free parking is available throughout the town in designated spaces. The walking tour begins at the Davidson green in front of the Library.</p>
        </li>
        <li>
          <strong>Where do I check-in?</strong>
          <p>Your first stop is at the Davidson Town Green (119 South Main Street Davidson) where you will check in at the DCCDC tent. There you will receive your tickets required for entry at each home. You will also receive a map and booklet about each of the homes.</p>
        </li>
        <li>
          <strong>What is included in the ticket?</strong>
          <p>Self-guided walking tour of the homes which includes designated access inside the home as determined by the homeowner.</p>
        </li>
        <li>
          <strong>Are pets allowed on the tour?</strong>
          <p>While we love pets, they are not permitted on the tour.</p>
        </li>
        <li>
          <strong>Can I drive the tour route?</strong>
          <p>No, there are not parking spaces available at homes. All houses and sites are selected to be within walking distance from the check in location.</p>
        </li>
        <li>
          <strong>What is the tour like for children?</strong>
          <p>No strollers will be allowed in the homes, but strollers can be used to walk between homes. Children should be supervised at all times.</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="more-sponsors" class="line open">
    <header class="line--header">Thank you Sponsors</header>
    <button class="line--toggle" aria-label="Toggle additional sponsors">+</button>
    <div class="line--contents">
      <header>Star Citizens</header>
      <div class="top-sponsors">
        <a href="https://www.danielleknoxinteriors.com">
          {{ $image := (resources.GetMatch "images/logos/dki.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Danielle Knox Interiors">
        </a>
        <a href="https://thecoveatdavidsonbay.com/">
          {{ $image := (resources.GetMatch "images/logos/thecove.jpg") }}
          <img src="{{ $image.RelPermalink }}" alt="The Cove at Davidson Bay">
        </a>
        <a href="https://jewelboxonline.com">
          {{ $image := (resources.GetMatch "images/logos/jewelbox.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Jewelbox">
        </a>
        <a href="http://www.dellingerlawfirm.com/">
          {{ $image := (resources.GetMatch "images/logos/dellingerlaw.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Dellinger Law PLLC">
        </a>
      </div>

    <div class="maybe-row">
      <div class="mid-sponsors">
        <header>Community Helpers</header>
        <ul>
          <li>{{partial "anchor.html" (dict "context" . "href" "https://www.davidsonflowerco.com/" "text" "Davidson Flower Company") }}</li>
          <li>{{partial "anchor.html" (dict "context" . "href" "https://www.mainstreetbooksdavidson.com/" "text" "Main Street Books") }}</li>
          <li>{{partial "anchor.html" (dict "context" . "href" "https://www.mooresvillechiropractor.com/" "text" "ChiroLife Wellness Center") }}</li>
        </ul>
      </div>

      <div class="base-sponsors">
        <header>Good Neighbors</header>
        <ul>
          <li>{{partial "anchor.html" (dict "context" . "href" "https://www.facebook.com/davidsonwineco" "text" "Davidson Wine Co") }}</li>
          <li>{{partial "anchor.html" (dict "context" . "href" "https://carrburritos.com/davidson/" "text" "Carrburritos") }}</li>
          <li>{{partial "anchor.html" (dict "context" . "href" "https://oysterdvp.com/" "text" "Oyster Development, LLC") }}</li>
          <li>{{partial "anchor.html" (dict "context" . "href" "https://www.greencouchnc.com/" "text" "Green Couch Counseling") }}</li>
          <li>That guy who built this site</li>
        </ul>
      </div>
    </div>
    </div>
  </section>

  <main aria-role="main">
    <div class="homepage-content">
      {{.Content}}
    </div>
  </main>
<script>

(function lines() {
  const lines = Array.from(document.querySelectorAll('.line'));
  function on(type, selector, fn) {
    // events that should default to the capture phase
    const capture = type === 'mouseenter' || type === 'mouseleave';
    window.addEventListener(type, e => {
      if (e.target.matches(selector)) {
        return fn(e);
      }
    }, capture);
  }

  on('pointerup', '.line *', toggleSection);
  function toggleSection(e) {
    const targetLine = e.target.closest('.line');
    // only toggle if the second tap is on the line header
    if (targetLine.classList.contains('open')) {
      if (
        e.target.matches('.line--header') ||
        e.target.matches('.line--toggle')
      ) {
        targetLine.classList.toggle('open');
      }
    } else {
      targetLine.classList.toggle('open');
    }

    Array
      .from(document.querySelectorAll('.line.open'))
      .forEach(el => {
        if(el !== targetLine) {
          el.classList.remove('open')
        }
      });
  }

  on('pointerenter', '.line', e => {
    lines.forEach(line => {
      if (line !== e.target) {
        line.classList.add('fade');
      }
    });
  });
  on('pointerleave', '.line', e => {
    lines.forEach(line => {
      line.classList.remove('fade');
    });
  });
})();
</script>
{{ end }}
