{{ define "main" }}
  <nav id="nav">
    <a href="https://www.instagram.com/davidsonhometour">
      <img src="{{ (resources.GetMatch "images/logos/instagram.png").RelPermalink }}" />
    </a>
    <a href="https://www.eventbrite.com/e/2025-davidson-home-tour-tickets-1297396019419" class="button" id="tickets">Purchase Tickets →</a>
  </nav>
  {{ $logo := (resources.GetMatch "images/dht-logo.png") }}
  <div id="logo-container">
    <img id="logo" src="{{ $logo.RelPermalink }}" alt="Davidson Home Tour" />
  </div>
  <section id="cta" >
    <p>
      Explore the heart of Davidson on a self-guided tour in support of
      <a href="https://www.dc-childdevelopmentcenter.org/">Davidson-Cornelius Child Development Center</a>.
    </p>
    <a href="#map" class="button">Learn more ↓</a> 
  </section>
  <section id="map">
    <a href="https://maps.app.goo.gl/RJMKNcs6soo1NR838">
      {{ $image := (resources.GetMatch "images/map4.png") }}
    </a>
    <img src="{{ $image.RelPermalink }}" />
    <p>All of our fabulous homes are within walking distance of the Town Green including the streets of Lorimer, Greenway, and Thompson. The event is held in conjunction with The Town of Davidson’s Art on the Green. We encourage you to enjoy Davidson’s Social District with participating restaurants, the art viewing throughout the weekend, and consider biking or walking the Home Tour.</p>
  </section>
<!--
  <section id="sponsors" class="line open">
    <header class="line--headersmall">Generously supported by</header>
    <div class="top-sponsors">
      <a href="https://www.danielleknoxinteriors.com">
        {{ $image := (resources.GetMatch "images/logos/dki.png") }}
        <img src="{{ $image.RelPermalink }}" alt="Danielle Knox Interiors">
      </a>
      <a href="https://thecoveatdavidsonbay.com/">
        {{ $image := (resources.GetMatch "images/logos/thecove.jpg") }}
        <img src="{{ $image.RelPermalink }}" alt="The Cove at Davidson Bay">
      </a>
      <a href="http://www.dellingerlawfirm.com/">
        {{ $image := (resources.GetMatch "images/logos/dellingerlaw.png") }}
        <img src="{{ $image.RelPermalink }}" alt="Dellinger Law PLLC">
      </a>
    </div>
  </section>
-->
  <section id="tickets" class="line">
    <h2 class="line--header">Event</h2>
    <button class="line--toggle" aria-label="Toggle Event contents">+</button>
    <div class="line--contents">
      <div class="row">
        <div class="datetime">
          <span class="date">April 26, 2025</span>
          <span class="time">10am - 5pm</span>
          <div class="prices">
            <header>Ticket Prices</header>
            <ul>
              <li>
                <strong>General Adult Admission</strong>
                <em>Advanced Purchase: $35</em>
                <em>Day of Ticket: $45</em>
              </li>
              <li>
                <strong>General Kids Admission (ages 2-12)</strong>
                <em>Advanced Purchase: $20</em>
                <em>Day of Ticket: $25</em>
              </li>
            </ul>
            <div>
              <a href="https://www.eventbrite.com/e/2025-davidson-home-tour-tickets-1297396019419" class="button">Purchase Tickets →</a>
            </div>
          </div>
        </div>
        <div class="info">
          <p>The Davidson Home & Village Tour is a fundraiser for the Davidson Cornelius Child Development Center (DCCDC). The Tour is an opportunity to explore the heart of Davidson through hand-picked homes and beloved village sites. Step inside curated homes to experience a range of diverse architectural styles, inspiring interior design, historical significance, local art displays, and more! Each space will be staffed by a local docent. Come enjoy a self-guided tour and get the inside scoop!</p>

  
          <p>DCCDC provides high-quality early childhood education with scholarship support for children 6 weeks-Pre-K. Nearly 50% of our mini-scholars receive sliding-scale financial assistance ranging from 35-75% of tuition. Proceeds from the Davidson Home & Village Tour fuel tuition scholarships, teacher and staff support, operational costs, and improvements to DCCDC.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsorship" class="line">
    <h2 class="line--header">Sponsorship</h2>
    <button class="line--toggle" aria-label="Toggle Sponsorship Opportunities">+</button>

    <div class="line--contents">
      <a href="/sponsorship" class="button">Learn more →</a>
      <a href="mailto:LHDellinger@gmail.com?subject=Davidson Home Tour Sponsorship" class="button">Contact for sponsorship →</a>
    </div>
  </section>

  <section id="faq" class="line">
    <header class="line--header">FAQ</header>
    <button class="line--toggle" aria-label="Toggle FAQs content">+</button>
    <div class="line--contents">
      <ul>
        <li>
          <strong>Where do I park?</strong>
          <p>Free parking is available throughout the town in designated spaces. The walking tour begins at the Davidson green in front of the Library.</p>
        </li>
        <li>
          <strong>Where do I check-in?</strong>
          <p>Your first stop is at the Davidson Town Green (119 South Main Street Davidson) where you will check in at the DCCDC tent. There you will receive your tickets required for entry at each home. You will also receive a map and booklet about each of the homes.</p>
        </li>
        <li>
          <strong>What is included in the ticket?</strong>
          <p>Self-guided walking tour of the homes which includes designated access inside the home as determined by the homeowner.</p>
        </li>
        <li>
          <strong>Are pets allowed on the tour?</strong>
          <p>While we love pets, they are not permitted on the tour.</p>
        </li>
        <li>
          <strong>Can I drive the tour route?</strong>
          <p>No, there are not parking spaces available at homes. All houses and sites are selected to be within walking distance from the check in location.</p>
        </li>
        <li>
          <strong>What is the tour like for children?</strong>
          <p>No strollers will be allowed in the homes, but strollers can be used to walk between homes. Children should be supervised at all times.</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="more-sponsors" class="line open">
    <header class="line--header">Thank you Sponsors</header>
    <button class="line--toggle" aria-label="Toggle additional sponsors">+</button>
    <div class="line--contents">
      <header>
        Village Visionary and Presenting Sponsor 
      </header>
      <div class="visionary-sponsors">
        <a href="https://www.facebook.com/plattnerproperties">
          {{ $image := (resources.GetMatch "images/logos/plattnerproperties.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Plattner Properties">
        </a>
      </div>

      <header>
        Village Education Ally
      </header>
      <div class="ally-sponsors">
        <a href="https://davidsonarchitect.com/">
          {{ $image := (resources.GetMatch "images/logos/davidsonarchitect.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Nicole Perri Architecture">
        </a>
        <a href="http://www.dellingerlawfirm.com/">
          {{ $image := (resources.GetMatch "images/logos/dellingerlaw.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Dellinger Law PLLC">
        </a>
        <a href="http://www.davidsonflowerco.com/">
          {{ $image := (resources.GetMatch "images/logos/davidsonflowerco.jpg") }}
          <img src="{{ $image.RelPermalink }}" alt="Davidson Flower Company">
        </a>
        <a href="http://www.oxygengroupnc.com/">
          {{ $image := (resources.GetMatch "images/logos/oxygengroup.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Oxygen Group">
        </a>
        <a href="https://locations.postnet.com/nc/davidson/428-b-south-main-st.">
          {{ $image := (resources.GetMatch "images/logos/postnet.svg") }}
          <img src="{{ $image.RelPermalink }}" alt="Davidson PostNet">
        </a>
      </div>
      <header>
        Village Advocate
      </header>
      <div class="advocate-sponsors">
        <a href="http://www.summitcoffee.com/basecamp">
          {{ $image := (resources.GetMatch "images/logos/summitcoffee.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Summit Coffee">
        </a>
        <a href="http://www.weareissi.com/">
          {{ $image := (resources.GetMatch "images/logos/weareissi.png") }}
          <img src="{{ $image.RelPermalink }}" alt="Industrial Supply Soolutions, Inc.">
        </a>
      </div>
      <div class="maybe-row">
        <div class="mid-sponsors">
          <header>Community Helpers</header>
          <ul>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.mcmillanbuilders.com/" "text" "McMillan Design Build") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.planwithaws.com/" "text" "Advanced Wealth Strategies") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://braggfinancial.com/" "text" "Bragg Financial") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://dwellhomesupply.com/" "text" "Dwell Home Supply") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://ginaharris.remax.com/" "text" "Mayes Harris Realty") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://plattnercustombuilders.com/" "text" "Plattner Builders") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://kathyrnlillyinteriors.com/" "text" "Kathyrn Lilly Interiors") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.marylib.com/" "text" "Richards Group Real Estate") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://oysterdvp.com/" "text" "Oyster Development LLC") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://johnmarshallcustomhomes.com/" "text" "John Marshall Homes") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://sotile.com/" "text" "Sotile Center for Resilience") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://southendreclaimed.com/" "text" "Southend Reclaimed") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://holidaymarina.com/" "text" "Holiday Marina") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.tsgdavidson.com/" "text" "TSG Realty") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.53.com/" "text" "Fifth Third") }}</li>
          </ul>
        </div>

        <div class="base-sponsors">
          <header>Caring Neighbors</header>
          <ul>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://lknortho.com/" "text" "Lake Norman Orthodontics") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://whitscustard.com/locations/davidson" "text" "Whit’s") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.kingcanarybrewing.com/" "text" "King Canary Brewing") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.sidebarbottlecompany.com/" "text" "Side Bar") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.flatirononmain.com/" "text" "Flatiron") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://www.mandolinospizza.com/" "text" "Mandolino’s") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://benjerry.com/davidson" "text" "Ben and Jerrys") }}</li>
            <li>{{partial "anchor.html" (dict "context" . "href" "https://open.spotify.com/artist/3qGlhIAtRKYPxXRT2dJDDI?si=DRmmwld6RZ6Tyj0lI-2dxg" "text" "Dustan Kasten Music (the man behind the curtain)") }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <main aria-role="main">
    <div class="homepage-content">
      {{.Content}}
    </div>
  </main>
<script>

(function lines() {
  const lines = Array.from(document.querySelectorAll('.line'));
  function on(type, selector, fn) {
    // events that should default to the capture phase
    const capture = type === 'mouseenter' || type === 'mouseleave';
    window.addEventListener(type, e => {
      if (e.target.matches(selector)) {
        return fn(e);
      }
    }, capture);
  }

  on('pointerup', '.line *', toggleSection);
  function toggleSection(e) {
    const targetLine = e.target.closest('.line');
    // only toggle if the second tap is on the line header
    if (targetLine.classList.contains('open')) {
      if (
        e.target.matches('.line--header') ||
        e.target.matches('.line--toggle')
      ) {
        targetLine.classList.toggle('open');
      }
    } else {
      targetLine.classList.toggle('open');
    }

    Array
      .from(document.querySelectorAll('.line.open'))
      .forEach(el => {
        if(el !== targetLine) {
          el.classList.remove('open')
        }
      });
  }

  on('pointerenter', '.line', e => {
    lines.forEach(line => {
      if (line !== e.target) {
        line.classList.add('fade');
      }
    });
  });
  on('pointerleave', '.line', e => {
    lines.forEach(line => {
      line.classList.remove('fade');
    });
  });
})();
</script>
{{ end }}
