 * {
   scroll-behavior: smooth;
 }

@keyframes fadeInAnimation {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeUpAnimation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

a#tickets {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}
h1#logo {
  position: fixed;
  z-index: 1;
  animation: fadeInAnimation ease 1s;
  padding: 1.5rem;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: var(--theme);
}
#cta {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 45em;
  margin: 90vh auto 0;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  align-items: center;

  animation: fadeUpAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#cta a {
  width: 12em;
}

.button,
button {
  display: inline-block;
  background: var(--theme-inverse);
  padding: 0.333em 0.666em;
  color: var(--theme);
  border-bottom: 2px solid var(--theme);
}


.line {
  margin: 0 5%;
  border-top: 1px solid var(--theme-inverse-opaque);
  padding: 3rem 5%;
  position: relative;
  transition: 0.333s ease-in opacity;
}
.line--toggle {
  background: transparent;
  border: 0;
  position: absolute;
  right: 1.5rem;
  font-size: 3rem;
  top: 1.5rem;
  color: inherit;
  transform: rotate(0deg);
  transition: 0.2s ease-in transform;
}
.line.fade {
  opacity: 0.4;
}
.line--headersmall {
  position: absolute;
  top: 0.25em;
  right: 1em;
  cursor: default;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.line--header {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-variant: small-caps;
}
.line--contents {
  max-height: 0px;
  opacity: 0;
  transition: .333s linear all;
}
.line.open .line--contents {
  max-height: 500px;
  opacity: 1;
}
.line.open .line--toggle {
  transition: 0.2s ease-out transform;
  transform: rotate(135deg);
}

#map {
}

#sponsors {}
#tickets {}
#faq {}



.footer {
  margin: 1.5rem 5%;
  font-size: 0.875rem;
  text-align: right;
}
